#footer {
    width: 100%;
    font-family: Avenir-Next, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

#footerTopContainer {
    background-color: #F2F2F2;
    width: 100%;
}

#footer h1,
p,
h2 {
    text-align: center;
}

#footer p,
a {
    color: #656565;
}

#footer a {
    color: black;
}

#contact {
    display: flex;
    justify-content: center;
}

#top {
    padding: 25px;
    width: 94%;
    padding-bottom: 50px;
    margin: auto;
}

#top h1 {
    font-size: 2rem;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}

#top2 {
    width: 35%;
    margin: auto;
}

#middle {
    width: 80.5%;
    margin: auto;
}

.contact {
    border: 0px;
    font-size: 18px;
    padding: 8px 20px;
}

#subscribe {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 30px;
    cursor: pointer;
}

.bottom {
    width: 100%;
    display: flex;
    font-size: 15px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#brands {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.bottom a {
    font-size: 12px;
    text-decoration: none;
}

#faq {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    width: 70%;
}

#faq a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
}

#about {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    align-items: center;
}

#about a {
    font-size: 12px;
    text-decoration: none;

}

#about>span {
    font-size: 12px;
    display: flex;
    width: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#middle a:hover {
    color: #f39;
}

#middleAbout h2 {
    color: #656565;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 30px;
    font-size: 1.2rem;
}

#socialMedia {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#socialMedia img {
    width: 20px;
    height: 20px;
}

#middle p {
    font-size: 12.5px;
    line-height: 1.7;
    color: #A58E82;
    margin-top: 6px;
}

.bottomDown {
    margin-top: 20px;
}

.bottomDown h2 {
    font-size: 15px;
    margin: 10px 0 5px;
}

.bottomDown a,
span {
    font-size: 12px;
    opacity: .9;
}

.bottomDown a:hover {
    color: #f39;
}

#different {
    font-family: Avenir-NextBold, sans-serif;
    font-size: 16px;
    margin-top: 50px;
    color: #776C69;
    letter-spacing: 2px;
}


#footer input {
    outline: none;
}

@media all and (min-width: 768px) and (max-width: 1041px) {
    #middle {
        width: 100%;
        margin: auto;
    }

    #middleAbout {
        width: 95%;
        margin: auto;
    }

    #top2 {
        width: 75%;
    }

    #top h1 {
        font-size: 1.2rem;
    }

    .contact {
        width: 40%;
    }

    #middle p {
        font-size: 11.5px;
    }

    #faq {
        width: 90%;
    }

    #faq a {
        font-size: 13px;
        letter-spacing: 2px;
    }

    #socialMedia img {
        width: 18px;
        height: 18px;
    }

    .bottomDown a,
    span {
        font-size: 12px;
    }

    .bottomDown h2 {
        font-size: 13px;
    }

    #about a {
        font-size: 11px;
        text-decoration: none;
        line-height: 30px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    #middle {
        width: 100%;
        margin: auto;
    }

    #middleAbout {
        width: 95%;
        margin: auto;
    }

    #top h1 {
        font-size: 1rem;
    }

    #top2 {
        width: 90%;
    }

    #middle p {
        font-size: 11px;
    }

    .contact {
        width: 75%;
    }

    #faq {
        width: 85%;
    }

    #faq a {
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 0px;
    }

    #socialMedia img {
        width: 16px;
        height: 16px;
    }

    .bottomDown a,
    span {
        font-size: 10px;
    }

    .bottomDown h2 {
        font-size: 11px;
    }

    #about {
        gap: 2px;
        width: 100%;
    }

    #about a {
        font-size: 10px;
        text-decoration: none;
        /* line-height: 30px; */
    }

}